{% extends 'Master/_layout.html' %}
{%block content%}
<div class="span9">
					<h4>
						资产信息查看
					</h4>
                   <div  style="float: right">
                       <form method="POST" action="/asset/search/" style="vertical-align: bottom">
                           <input type="text" id="search" name="search"/><input type="submit" value="search" class="btn-primary"/>
                       </form>
                   </div>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>
                                    资产类别
								</th>
                                <th>
									资产名称
								</th>
								<th>
									资产位置
								</th>
								<th>
									供应厂商
								</th>
                                <th>
									使用人或部门
								</th>

							</tr>
						</thead>
						<tbody>
                        {% for item in data %}
                            	<tr>
								<td>

									{{ item.assetType }}

								</td>
								<td>
									{{ item.AssetName }}
								</td>
								<td>
									{{ item.Local }}
								</td>
								<td>
									{{ item.Factory }}
								</td>
								<td>
									{{ item.UserOrDep }}
								</td>
							</tr>
                        {% endfor %}



						</tbody>
					</table>

    {{ link }}


				</div>
{%endblock%}