{% extends 'Master/_layout.html' %}
{%block content%}
<div class="span9">
					<h4>
						资产信息查看
					</h4>
                   <div  style="float: right">
                       <form method="POST" action="/asset/search/" style="vertical-align: bottom">
                           <input type="text" id="search" name="search"/><input type="submit" value="search" class="btn-primary"/>
                       </form>
                   </div>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th style="text-align: center">
                                    资产类别
								</th>
                                <th style="text-align: center">
									资产名称
								</th>
								<th style="text-align: center">
									资产位置
								</th>
								<th style="text-align: center">
									供应厂商
								</th>
                                <th style="text-align: center">
									使用人或部门
								</th>
                                 <th style="text-align: center">
									详细
								</th>

							</tr>
						</thead>
						<tbody>
                        {% for item in data %}
                            	<tr>
								<td style="text-align: center">

									{{ item.assetType }}

								</td>
								<td style="text-align: center">
									{{ item.AssetName }}
								</td>
								<td style="text-align: center">
									{{ item.Local }}
								</td>
								<td style="text-align: center">
									{{ item.Factory }}
								</td>
								<td style="text-align: center">
									{{ item.UserOrDep }}
								</td>
                                	<td style="text-align: center">
									 <a href="#" onclick="showDetails({{ item.Id }})" class="view-link"  data-toggle="modal">详细 |</a>|<a href="#" class="view-link">删除</a>|<a href="#" class="view-link">删除</a>
								    </td>
							</tr>
                        {% endfor %}



						</tbody>
					</table>

    {{ link }}


				</div>
    <div id="example" class="modal hide fade in" style="display: none; ">
        <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>资产信息</h3>
        </div>
        	<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th style="text-align: center">
                                    用途
								</th>
                                <th style="text-align: center">
									资产开始使用时间
								</th>
								<th style="text-align: center">
									资产状态
								</th>


							</tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </thead>
                </table>
    </div>
{%endblock%}
{% block js %}

    <script type="text/javascript">

         function  showDetails(id)
         {
             $.ajax({
                  url:"/asset/details?id="+id,
                type:"GET",
                success:function(data) {

                }


             })
             // $("#example").modal()
         }
    </script>
{% endblock %}
