{% extends "Master/_layout.html" %}
{% block content %}
    <div class="span9" >
    <div >
		<a href="/app01/usermanage/?action=adduser" class="btn btn-primary">添加用户</a>
        <a href="/app01/usermanage/?action=deletealluser" class="btn">删除用户</a>
	</div>
   	<table class="table table-bordered table-striped">
						<thead>
							<tr>
                                <th>
                                </th>
								<th>
									用户编号
								</th>
								<th>
									登录名称
								</th>
								<th>
									显示名称
								</th>
								<th>
									所属角色
								</th>
								<th>
									管理操作
								</th>
							</tr>
						</thead>
						<tbody>
                        {% for item in data %}

                            <tr>
                                <td style="width: 3%">
                                 <input type="checkbox">
                                </td>
								<td>
                                    {{ item.usercode }}
								</td>
								<td>
									{{ item.loginName }}
								</td>
								<td>
									{{ item.username }}
								</td>
								<td>
									{{ item.roleName }}
								</td>
								<td>
									<a href="#" onclick="show()" class="view-link"  data-toggle="modal">查看</a>
                                    <a href="/app01/usermanage/?action=edit" class="view-link">编辑</a>
                                    <a href="/app01/usermanage/?action=delete&userid={{ item.id }}" class="view-link">删除</a>
								</td>

                        {% endfor %}
                          </tbody>
					</table>
    </div>
    <!--弹出层-->
<div class="container">

<div id="example" class="modal hide fade in" style="display: none; ">
<div class="modal-header">
<a class="close" data-dismiss="modal">×</a>
<h3>用户详细信息</h3>
</div>
<div class="modal-body">
   <div class="control-group">
       <div style="float:left">
            <label class="control-label" for="input01">用 户 名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
       </div>

		<div class="controls" >
			<input class="input-xlarge" id="pwd" name="pwd" value="" type="password" readonly>
        </div>
        <div style="float:left">
            <label class="control-label" for="input01">用户编号&nbsp;&nbsp;&nbsp;</label>
       </div>

		<div class="controls" >
			<input class="input-xlarge" id="usercode" name="pwd" value="" type="text" readonly>
        </div>
        <div style="float:left">
            <label class="control-label" for="input01">显示名称&nbsp;&nbsp;&nbsp;</label>
       </div>

		<div class="controls" >
			<input class="input-xlarge" id="usercode" name="pwd" value="" type="text" readonly>
        </div>
        <div style="float:left">
            <label class="control-label" for="input01">所属角色&nbsp;&nbsp;&nbsp;</label>
       </div>

		<div class="controls" >
			<input class="input-xlarge" id="usercode" name="pwd" value="" type="text" readonly>
        </div>
	</div>

    <div class="modal-footer">
    <a href="#" class="btn btn-success">保存</a>
    <a href="#" class="btn" data-dismiss="modal">关闭</a>
    </div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
    <script type="text/javascript">
    function  show(){
        $("#example").modal()
    }
    </script>
{% endblock %}
