{%extends "Master/_layout.html"%}
{%block content%}

<div class="span9">
					<h1>
						维护记录
					</h1>
    <div style="float: right;">
    <form class="navbar-search pull-left" action="">
        <input class="search-query span2" placeholder="搜索" type="text" title="按人名，内容，类型，时间搜索">
        <input type="button" value="搜索">
	</form>
        <div class="btn-group" style="float: right;">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">功能项
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="/supplier/ex/">导出供应商列表</a>
        </li>
        <li>
            <a href="/supplier/record/" id="record">维护记录</a>
        </li>
        <li>
            <a href="#">维保查询</a>
        </li>
           <li>
            <a href="#">杋房出入登记</a>
        </li>
         <li>
            <a href="#">快速检索</a>
        </li>
         <li>
            <a href="#">维保合同管理</a>
        </li>
          <li>
            <a href="#">添加供应商</a>
        </li>
          <li>
            <a href="#">添加系统类型</a>
        </li>
    </ul>
</div>
    </div>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>
									维护人
								</th>
								<th>
									维护内容
								</th>
								<th>
									支持类型
								</th>
								<th>
									维护时间
								</th>


							</tr>
						</thead>
						<tbody>
                        {% for item in data %}
                            <tr>
								<td>
									<span class="badge">{{ item.SupportUser }}</span>
								</td>
								<td>
									<span class="badge">{{ item.SupportContent }}</span>
								</td>
								<td>
									<span class="badge">{{ item.SuportType }}</span>
								</td>
								<td>
									<span class="badge">{{ item.SuportTime }}</span>
								</td>


							</tr>
                        {% endfor %}
						</tbody>
					</table>

					<a class="toggle-link" href="#new-project"><i class="icon-plus"></i> 新增记录</a>
					<form id="new-project" class="form-horizontal hidden">
						<fieldset>
							<legend>新增维护记录</legend>
							<div class="control-group">
								<label class="control-label" for="input01">维护人：</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="select01">维护类型</label>
								<div class="controls">
									<select id="select01"> <option>-- 请选择t --</option>
                                        {% for item in dropDownListData %}
                                            <option value="{{ item.id }}">{{ item.supportDesc }}</option>
                                        {% endfor %}

                                    </select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="textarea">维护内容</label>
								<div class="controls">
									<textarea class="input-xlarge" id="textarea" rows="3"></textarea>
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Create</button> <button class="btn">Cancel</button>
							</div>
						</fieldset>
					</form>
				</div>
{%endblock%}
