{%extends "Master/_layout.html"%}
{%block content%}

<div class="span9">
					<h1>
						维护记录
					</h1>
    <div style="float: right;">
    <form class="navbar-search pull-left" action="">
        <input class="search-query span2" placeholder="搜索" type="text" title="按人名，内容，类型，时间搜索">
        <input type="button" value="搜索">
	</form>
     {{ dropDownList }}
    </div>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>
									维护人
								</th>
								<th>
									维护内容
								</th>
								<th>
									支持类型
								</th>
								<th>
									维护时间
								</th>


							</tr>
						</thead>
						<tbody  >
                        {% for item in data %}
                            <tr>
								<td>
									<span class="badge">{{ item.SupportUser }}</span>
								</td>
								<td>
									<span class="badge">{{ item.SupportContent }}</span>
								</td>
								<td>
									<span class="badge">{{ item.SuportType }}</span>
								</td>
								<td>
									<span class="badge">{{ item.SuportTime }}</span>
								</td>


							</tr>
                        {% endfor %}
						</tbody>
					</table>

					<a class="toggle-link" href="#newRecord"><i class="icon-plus"></i> 新增记录</a>
					<form id="newRecord" name="newRecord" class="form-horizontal hidden">
						<fieldset>
							<legend>新增维护记录</legend>
							<div class="control-group">
								<label class="control-label" for="input01">维护人：</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="supportUser" name="supportUser" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="select01">维护类型</label>
								<div class="controls">
                                    {{ supportType }}

								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="textarea">维护内容</label>
								<div class="controls">
									<textarea class="input-xlarge" id="content" name="content" rows="3"></textarea>
								</div>
							</div>
							<div class="form-actions">
								<button onclick="submitform()" type="button" class="btn btn-primary" id="submit" name="submit">Create</button> <button class="btn">Cancel</button>
							</div>
						</fieldset>
                     <input type="hidden" id="selectValue" name="selectValue" value=""/>
					</form>
				</div>
{%endblock%}

{% block js%}
      <script type="text/javascript" src="/static/js/alert/sweet-alert.js"></script>
    <script type="text/javascript">
    function  submitform(){

        $.ajax({
            url:"/supplier/record/",
            type:"POST",
            data:$("#newRecord").serialize(),
            success:function(data){
                 swal("Good job!", data.Msg, "success")
                },
            error:function(data){
                swal("Error",data.Msg,"error")
            }
        })
    }

    function selectSelectedvalue(obj){
        $("#dropdownMenu1").text(obj.text)
        $("#selectValue").val(obj.id)
    }
    </script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/alert/sweet-alert.css">
    <link rel="stylesheet" href="/static/css/alert/sweet-alert.css">
{% endblock %}
